html, body
{ 
	margin:0; height: 100%;width: 100%;
	background-image: url("D:/ESTUDOS/FACULDADE/GitHub/Engenharia-Software/APS2/img/capa4.png");
	background-attachment: fixed;
	background-color: #87CEFA;

}
form
{
width: 98%;/*largura do formulario*/
margin: 10px auto;

}

.quadroCad
{
margin: 0 auto;
height:0 auto;
max-width: 80%;
border: 1px solid #9C9C9C;
background-color: #EAEAEA;
border-radius: 10px;

}
h1{
	text-align: center;
	font-size: 60px;

}